@media screen and (max-width:500px) {
    :root{
        --green:hsl(143, 63%, 49%);
        --headerfont:23px;
    }
      *{
        font-family:  'Poppins', sans-serif;
          padding: 0;
          margin: 0;
          overflow-x: hidden;
      }
      /*  */
      #carousel {
        overflow-x: hidden;
        top: 40px;
        max-width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
      }  
      .slide-indicators {
        position: relative;
        top: -100px;
        left: 400px;
        display: flex;
        justify-content: center;
      }
      .slide-indicator {
        height: 50px;
        width: 50px;
        display: flex;
        justify-items: center;
        cursor: pointer;
      }
      .slide-indicator:after {
        content: "";
        background-color: #2ECA6A;
        height: 13px;
        margin-top: 10px;
        width: 42px;
      }
      .slide-indicator.active:after,
      .slide-indicator:hover:after {
        background-color: white;
      }
      .slide-banner {
        background-color: #000000;
        color: #ffffff;
        position: absolute;
        left: 0;
        bottom: 20px;
        padding: 15px;
        font-size: 2.5vw;
      }
      .slide-banner a {
        color: #ffffff;
      }
      #slide-container {
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
      }
      .slide {
        height: 100%;
        scroll-snap-align: center;
        position: relative;
        min-width: 100%;
        padding-top: 50%;
      }
      .slide img {
        height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
      .arrow {
        color: #ffffff;
        height: 25px;
        width: 20px;
        background-color: #000000;
        position: absolute;
        padding: 15px;
        opacity: .3;
        cursor: pointer;
      }
      .arrow.back {
        left: 10px;
        top: 10px;
      }
      .arrow.forward {
        right: 10px;
        top: 10px;
      }
      .arrow:hover {
        opacity: 1;
      }
      /* ========= */
      .section-services {
        padding: 100px 32px;
        margin-top: 120px;
        height: 100%;
      }
      
      .service-header {
        position: relative;
        font-size: 45px;
        top: -100px;
        left: 30px;
      }
      
      .section-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .card .grid-1 {
        margin-top: 30px;
        border-style: ridge;
        border-width: 1px;
        border-color: gray;
        display: grid;
        width: 280px;
        height: 270px;
        padding: 20px;
        border-radius: 20px;
      }
      
      .card .grid-1 h4 {
        color: gray;
        font-weight: 200;
      }
      
      .icon {
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: 600;
      }
      
      
      
      nav{
        position: fixed;
        overflow: auto;
        z-index: 9999;
      }
      .title-box-d{
        display: inline;
        height: 90px;
      }
      .title-d{
        width: 240px;
      }
      .close-box{
        display: none;
      }
      .close-box2{
        display: block;
        position: relative;
        top: -30px;
        left: 18pc;

      }
      .close-button2{
        width: 30px;
      }
      #box-collapse{
        margin: 0;
        right: 0;
        width: 100%;
        height: 900px;
        position: fixed;
        z-index: 9999;
        left: 40pc;
        overflow-y: scroll;
        overflow: auto;
        display: grid;
      }
      .box-collapse-wrap{
        padding-left: -20px;
        padding-right: 10px;
        padding-bottom: 200px;
      }
      .row{
        width: 100%;
        display: grid;
      }
      #kw{
        padding: 0;
        margin-right: 0;
        width: 240px;
      }
      .form-group{
        display: grid;
        padding: 0;
        width: 100%;
      }
      #form-group2{
        width: 270px;
      }
      #form-group{
        width: 600px;
      }
      .form-control{
        width: 300px;
      }
      .first-column,.second-column,.third-column{
        display: grid;
      }
      .ham-container{
        overflow-y: hidden;
        background-color: white;
        padding-right: 0;
        border-style: none;
        width: 70px;
        height: 35px;
        padding: 5px;
        display: block;
        justify-content: space-between;
        position:relative;
        top: 20px;
        left: -10px;
      }
      .hm-menu{
        background-color: black;
        margin-top: 4px;
        width: 30px;
        height: 3px;
        display: flex;
      }
      .hm-menu-mobile{
        background-color: black;
        margin-top: -3px;
        width: 30px;
        height: 3px;
        display: flex;
      }
      .t1{
        transition-duration: .5s;
      }
      .t1-mobile{
        transform: rotate(40deg);
      }
      .t2{
        width: 20px;
        transition-duration: .4s;
      }
      .t2-mobile{
        width: 0;
      }
      .t3{
        transition-duration: .5s;
      }
      .t3-mobile{
        transform: rotate(-40deg);
        /* top: -20px; */
      }
      .miss-middle{
        display: none;
      }
      .change1{
        transform: rotateX(70deg);
       
      }
      /* .hm-menu2{
        background-color: black;
        width: 10px;
        height: 2px;
        display: flex;
        position: relative;
        top: 5px;
      } */
      .navigation_menu{
        overflow-y: hidden;
        padding: 0;
        height: 70px;
      }
      .nav-container{
        display: grid;
        justify-content: center;
      }
      .search-mobile{
        display: flex;
        float: right;
        width: 80px;
        overflow-y: hidden;
        position: relative;
        left: 45px;
        top: -5px;
      }
      .list{
        transition-duration: 1s;
        text-align: center;
        overflow-y: hidden;
        display: grid;
        position: fixed;
        padding-bottom: 20px;
        z-index: 1;
        width: 100%;
        height: 200px;
        left: -450px;
        top: 62px;
        background-color: white;
       
      }
       .lister{
        transition-duration: 1s;
        overflow-y: hidden;
        display: grid;
        position: fixed;
        z-index: 100;
        width: 100%;
        left: 0;
        top: 62px;
        background-color: white;
      } 
      .lister li{
        display: block;
        transition-duration: 1s;
      }
      nav ul{
        padding: 0;
        margin: 0;
      }
      nav ul li{
        transition: all 1s ease-in-out;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        padding: 0;
        right: 0;
        width: 100%;
      }
      .list-container{
        top: -5px;
        z-index: 9999;
        position: relative;
        left: 20px;
        padding-left: 40px;
        padding-bottom: 32px;
        height: 90px;
        width: 75%;
      }
      .list2,.list3,.list4,.list5,.list6{
        position: relative;
        top: 20px;
      }
      .logo{
        text-align: center;
        display: flex;
        margin-top: -20px;
        position: relative;
        top: -30px;
      }

     
    .logo-text{
      width: fit-content;
      padding-left: 0;
     position: fixed;
     left: 120px;
    }
      .logo-text{
        font-size: var(--headerfont);
      }
     .list7{
      display: none;
     }
      .active::after{
        display: none;
      }
      .active-mobile::before{
        content: " ";
        background-color: var(--green);
        height: 2px;
        top: 20px;
        left: 30px;
        display: grid;
        position: relative;
        margin:0 auto;
        width: 50%;
      }
      .logo{
        margin-top: 40px;
        padding-top: -0px;
        display:flex;
        position: fixed;
        z-index: 999;
        margin-left: -60px;
      }
      .section_about{
        padding: 10px;
        margin-top:80px;
      }
      .header_container{
        display: grid;
        padding: 10px;
        margin-left: 20px;
        width: 100%;
      }
      .header_container .header-vl{

        font-size: 12px;
        width: 100%;
        text-align: left;
      }
      .header_text{
        padding: 0 15px;
        padding-top: -5px;
        overflow-y: h;
        height: 144px;
        position: relative;
        width: 300px;
        font-size: 32px;
      }
      .img_text_div{
        margin-top: -100px;
        padding: 0;
      }
      .about-image-1{
        width: 100%;
      }
      .img-text-about{
        margin-top: -65px;
        overflow-y: hidden;
       width: 35%;
       height: 70px;
       padding: 10px 20px;
      }
      #c-image-about{
        font-size: 15px;
      }
      .container-sec3{
        display: grid;
      }
       #abt-img3{
        width: 100%;
        height: 490px;
      }
      .sec3-about-content{
        padding: 20px;
      }
      .randomtext2{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        font-size: 18px;
      }
      .team{
        padding: 0 20px;
      }
      .team-pics{
        width: 100%;
        height: 320px;
      }
      /*  */
      .select-box{
        padding-right: 30px;
        left: -20px;
        height: 100px;
        top: 15px;
      }
      #select-box-box{
        padding-top: 10px;
        position: relative;
        left: -130px;
      }
      .property{
        padding: 0;
        margin-top: -22px;
      }
      .property-grid-desktop{
        padding: 0;
        display: block;
        margin-top: 100px;
        width: 100%;
      }
      #img-container-property{
        height: 400px;
        width: 500px;
      }
      .property-image{
        overflow: hidden;
        margin: 0;
        top: 0;
        margin-top: 0;
        width: 60%;
        height: 350px;
        filter :contrast(1.2);
        transition-duration: 1s;
      }
      #card1{
        padding: 10px 30px;
        overflow-y: hidden;
        width: 400px;
        height: 530px;
      }
      .last3{
        margin-top: -140px;
      }
      .property-image:hover{
        transform: scale(1.3);
        transition-duration: 3s;
      } 
      .card1-content{
        overflow-y: hidden;
        display: grid;
        padding: 30px;
        position: relative;
        top: -300px;
      }
      .card-content-x{
        font-size: 30px;
        color: white;
        width: 220px;
        text-shadow: 0 0 2px black;
      }
      .price-btn{
        text-decoration: none;
        color: white;
        border-style: solid;
        border-width: 2px;
        padding: 15px 5px;
        text-align: center;
        border-radius: 40px;
        width: 150px;
        border-color: #2eca6a;
        text-shadow: 0 0 2px black;
      }
      .click-to-view{
        color: white;
        text-decoration: none;
        margin-top: 8px;
        text-shadow: 0 0 2px black;
      }
      .end-card{
        transition-duration: 2s;
        padding: 10px 20px;
        position: relative;
        background-color: #2eca6a;
        margin-top: -39px;
        display: block;
        width: 260px;
        height: 55px;
        overflow-y: hidden;
        top: -16pc;
        left: 30px;
        margin-left: -30px;
      }
      .end-card-over{
        transition-duration: 2s;
        padding: 10px 20px;
        background-color: #2eca6a;
        margin-top: -39px;
        display: block;
        position: absolute;
        width: 300px;
        height: 55px;
        overflow-y: hidden;
        top: -70px;
        margin-left: -30px;
      }
      .end-card-1 li{
        padding-left: 5px;
        margin-right:4px;
        display: inline;
      }
      .end-card-2 li{
        padding-left: 20px;
        display: inline;
        margin-right: 5px;
      }
      .end-card li{
        list-style-type: none;
      }
     
}
