/*Assigning the fonts*/
:root{
    --green:#2ECA6A;
}
  *{
    font-family:  'Poppins', sans-serif;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
  }
  nav{
    position: fixed;
    overflow: auto;
    color: white;
    margin-top: -20px;
    background-color: white;
     box-shadow: 0 0 20px black;
     width: 100%;
     text-decoration: none;
      z-index: 200;
  }
 
  nav ul{
      margin-left: 200px;
      padding-top: 40px;
      padding-bottom: 20px;
     
  }
  nav ul li{
      display: inline;
      position: relative;
  }
  nav ul li::after{
    content: "";
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 40px;
    width: 0;
    height: 3px;
    background-color: var(--green);
    transition: width .3s ease-in-out;
  }
  nav ul li:not(.list1,.list7):hover::after{
    width: 60%;
  }
  nav ul li .active::after{
    content: "";
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 40px;
    width: 100%;
    height: 3px;
    background-color: var(--green);
    transition: width .3s ease-in-out;
  }

  nav ul li a{
      font-family: sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: black;
      text-decoration: none;
      position: relative;
      top: -15px;
      margin-left: 40px;
  }
  nav ul li a:hover{
    text-decoration: none;
}

 /*Carousel slider*/
 /*==================================*/

#ninja-slider {
  width:100%;
  height: auto;
  padding: 0;
  margin:0 auto;
  position: relative;
  top: 22px;
  overflow:hidden;
  box-sizing:border-box;
}


#ninja-slider .fs-icon {
  top:6px;
  right:6px;
  width:60px;
  height:26px;
  background: rgba(0,0,0,0.2);
  z-index:2;
  color:white;
  text-align:center;
  font:bold 11px/26px arial;
  border:1px solid rgba(255,255,255,0.3);
  border-radius:2px;
  opacity:0;
  -webkit-transition:opacity 0.8s;
  transition:opacity 0.8s;
}

#ninja-slider .slider-inner:hover .fs-icon,
#ninja-slider.fullscreen .fs-icon {
  opacity: 0;
}
#ninja-slider.fullscreen div.fs-icon {
  right:30px;
}


#ninja-slider .slider-inner {
  max-width:100%;
  margin:20px auto;/*center-aligned */
  font-size:0px;
  position:relative;
  box-sizing:border-box;
}


#ninja-slider ul {
  position:relative;
  list-style:none;
  padding:3px;
  box-sizing:border-box;
}

#ninja-slider li {
  
  width:100%;
  height:100%;
  top:0;
  left:0;
  position: absolute;
  font-size:12px;
  list-style:none;
  margin:0;
  padding:0;
  opacity:0;
  overflow:hidden;
  box-sizing:border-box;
}

#ninja-slider li.ns-show {
  opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider .ns-img {
  background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/
  /*decorate border*/
  cursor:default;
  display:grid;
  position: absolute;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
}
#ninja-slider .third_img{
  height: 673px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager
{
/* set the distance away from the slider */
  margin:0 auto; /* center align */
  text-align:right;
  margin-right: 150px;
  display: block;
  position: relative;
  top: -320px;
  z-index: 100;
  font-size:0;
}
       
#ninja-slider-pager a 
{
  display:inline-block;
  top: -40px;
  width: 40px;
  height: 10px;
  background-color:white;
  font-size:0; /* Non-zero will show the index num */
  margin:2px 6px;
  cursor:pointer;
}

#ninja-slider-pager a:hover 
{
  opacity:0.6;
}
#ninja-slider-pager a.active 
{
  background-color:#2ECA6A;
  box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
}

 

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:600px){
  #ninja-slider li .cap1 {
      font-size:20px;
  }
}
  /*Slider ends here*/
  /*========================*/

  .logo{
    position: relative;

  }
  .logo-text{
    font-size: 30px;
    padding-left: 85px;
    position: relative;
    left: -105px;
    z-index: 100;
    overflow: visible;
  }
  .logo-text-2{
    font-weight: 800;
    color: var(--green);
  }
.search-btn{
    width: 30px;
    position: relative;
    top: 10px;
    left: 200px;
    color: white;
    padding: 3px;
    filter: invert(100%);
    background-color:rgb(167, 57, 167);
}
  .img-slider{
    position: relative;
    width: 100%;
    top: 100px;
    height: auto;
  }
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;

  }
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 600px;
    border-radius: 3px;
  }
  .img-slider .slide .active{
    transition-duration: 2s;
  }
  .slide1{
    position: relative;
    top: 0;
  }
   .carousel_info{
    animation-name: blink;
    animation-iteration-count: 1;
    position: absolute;
    display: grid;
    justify-content: space-between;
    top: 130px;
    left: 100px;
    text-decoration: none;
    color: white;
  }
  .ctext{
    font-size: 17px;
  }
  .container_text:not(.ctext3){
    margin-top: 100px;
    font-size: 50px;
  }
  .num{
    color: #2ECA6A;
  }
  .ctext3{
    text-align: center;
    width: 200px;
    margin-top: 90px;
    font-size: 23px;
    padding: 12px 6px 12px 6px;
    border-color: var(--green);
    border-radius: 25px;
    border-width: 2px;
    border-style: groove;
  }
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    left: 80%;
    top: 500px;
    transform: translate(-50%);
  }
  .img-slider .navigation .btn{
    background: white;
    width: 30px;
    margin-left: 6px;
    height: 15px;
    cursor: pointer;
  }
  /*Our service/*
  /*======================*/

  .section-services{
    padding:150px 60px;
    margin-top: -120px;
    height: 100%;
  }
  .service-header{
    position: relative;
    font-size: 45px;
    top: -100px;
    left: 60px;
  }
 .section-card{
  display: flex;
  justify-content: space-evenly;
 }
 .card .grid-1{
  display: grid;
  width: 320px;
 }
 .card .grid-1 h4{
  color: gray;
  font-weight: 200;
 }
 .icon{
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
 }
 /* Latest properties */
 /* ====================== */
 .container_div_properties{
  padding: 0 7pc 0 7pc;
  margin-top: 20px;
  display: grid;
  transition-duration: .5s;
 }
 .container_div_properties .properties-heading{
  font-size: 45px;
 }
.container_div_properties .properties-container-card{
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
 }

 .p1{
  display: inline;
  width: 700px;
  height: 400px;
  background:url(../img/property-3.jpg);
  background-size: contain;
  overflow-y: hidden;
  background-repeat: no-repeat;
  animation-duration: .5s;
  transition-duration: .5s;
}
.p1 .properties-info{
  margin-top: 280px;
  padding: 12px;
}
.p1 .properties-info .ptext2:not(num){
  color: white;
}
.p1 .properties-info .ptext2 .num{
  text-shadow: 0 0 1px black;
}
.p1 .properties-info .ptext2{
  font-size: 20px;
}
.p1 .properties-info .ptext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
/* =================== */
.p2p{
  margin-left: 40px;
  margin-right: 20px;
  width: 750px;
  height: 400px;
  background:url(../img/property-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.p2p .properties-info{
  margin-top: 280px;
  padding: 12px;
}
.p2p .properties-info .ptext2:not(num){
  color: white;
}
.p2p .properties-info .ptext2 .num{
  text-shadow: 0 0 1px black;
}
.p2p .properties-info .ptext2{
  font-size: 20px;
}
.p2p .properties-info .ptext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
/* ======================== */
.p3p{
  margin-left: 20px;
  width: 720px;
  height: 400px;
  left: 200px;
  background:url(../img/property-6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.p3p .properties-info{
  margin-top: 280px;
  padding: 12px;
}
.p3p .properties-info .ptext2:not(num){
  color: white;
}
.p3p .properties-info .ptext2 .num{
  text-shadow: 0 0 1px black;
}
.p3p .properties-info .ptext2{
  font-size: 20px;
}
.p3p .properties-info .ptext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
  
/* ================= */
.p4p{
  overflow-y: hidden;
  transition-duration: 1s;
  display: none;
  margin-left: 20px;
  width: 0;
  height: 400px;
  background:url(../img/property-8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: moveright;
  animation-duration: .3s;
  animation-iteration-count: 1;
}
.p4p .properties-info{
  margin-top: 280px;
  padding: 12px;
}
.p4p .properties-info .ptext2:not(num){
  color: white;
}
.p4p .properties-info .ptext2 .num{
  text-shadow: 0 0 1px black;
}
.p4p .properties-info .ptext2{
  font-size: 20px;
}
.p4p .properties-info .ptext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
.properties-slide{
  display: flex;
  justify-content: center;
}
.properties-slide  .active{
  margin-top: 20px;
  margin-right: 5px;
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  background-color:#2ECA6A;
}
.properties-slide .ps2{
  margin-top: 20px;
  margin-right: 5px;
  content: "";
  width: 20px;
  height: 10px;
  border-radius: 0;
  border-style: solid;
  border-width: .1px;
  color: green;
  background-color: black;
}
/* =================Properties End=================== */

/* Best Agents */
.container_div_agents{
  padding: 7pc 7pc 0 7pc;
  margin-top: 60px;
  display: grid;
  transition-duration: .5s;
 }
 .container_div_agents .agents-heading{
  font-size: 45px;
 }
.container_div_agents .agents-container-card{
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
 }

 .a1-img{
  display: inline;
  width: 700px;
  height: 400px;
  background: url(../img/agent-1.jpg);
  background-size: contain;
  overflow-y: hidden;
  background-repeat: no-repeat;
  animation-duration: .5s;
  transition-duration: .5s;
}
.a1 .agents-info{
  margin-top: 280px;
  padding: 12px;
}
.a1 .agents-info .atext2:not(num){
  color: white;
}
.a1 .agents-info .atext2 .num{
  text-shadow: 0 0 1px black;
}
.a1 .agents-info .atext2{
  font-size: 20px;
}
.a1 .agents-info .atext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
/* ==========Second grid========= */
.a2-img{
  margin-left: 40px;
  margin-right: 20px;
  width: 750px;
  height: 400px;
  background:url(../img/agent-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.a2a .agents-info{
  margin-top: 280px;
  padding: 12px;
}
.a2a .agents-info .atext2:not(num){
  color: white;
}
.a2a .agents-info .atext2 .num{
  text-shadow: 0 0 1px black;
}
.a2a .agents-info .atext2{
  font-size: 20px;
}
.a2a .agents-info .atext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
/* ===========Third gird============= */
.a3-img{
  margin-left: 20px;
  width: 720px;
  height: 400px;
  left: 200px;
  background:url(../img/agent-3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.a3a .agents-info{
  margin-top: 280px;
  padding: 12px;
}
.a3a .agents-info .atext2:not(num){
  color: white;
}
.a3a .agents-info .atext2 .num{
  text-shadow: 0 0 1px black;
}
.a3a .agents-info .atext2{
  font-size: 20px;
}
.a3a .agents-info .atext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
  
/* ===========Fourth grid=========== */
.a4-img{
  overflow-y: hidden;
  transition-duration: 1s;
  display: none;
  margin-left: 20px;
  width: 0;
  height: 400px;
  background:url(../img/property-8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: moveright;
  animation-duration: .3s;
  animation-iteration-count: 1;
}
.a4a.agents-info{
  margin-top: 280px;
  padding: 12px;
}
.a4a .agents-info .atext2:not(num){
  color: white;
}
.a4a .agents-info .atext2 .num{
  text-shadow: 0 0 1px black;
}
.a4a .agents-info .atext2{
  font-size: 20px;
}
.a4a .agents-info .atext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
.agents-slide{
  display: flex;
  justify-content: center;
}
.agents-slide  .active{
  margin-top: 20px;
  margin-right: 5px;
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  background-color:#2ECA6A;
}
.agents-slide .as2{
  margin-top: 20px;
  margin-right: 5px;
  content: "";
  width: 20px;
  height: 10px;
  border-radius: 0;
  border-style: solid;
  border-width: .1px;
  color: green;
  background-color: black;
}
/* Latest News */
.container_div_properties{
  padding: 0 7pc 0 7pc;
  margin-top: 20px;
  display: grid;
  transition-duration: .5s;
 }
 .container_div_properties .properties-heading{
  font-size: 45px;
 }
.container_div_properties .properties-container-card{
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
 }

 .p1{
  display: inline;
  width: 700px;
  height: 400px;
  background:url(../img/property-3.jpg);
  background-size: contain;
  overflow-y: hidden;
  background-repeat: no-repeat;
  animation-duration: .5s;
  transition-duration: .5s;
}
.p1 .properties-info{
  margin-top: 280px;
  padding: 12px;
}
.p1 .properties-info .ptext2:not(num){
  color: white;
}
.p1 .properties-info .ptext2 .num{
  text-shadow: 0 0 1px black;
}
.p1 .properties-info .ptext2{
  font-size: 20px;
}
.p1 .properties-info .ptext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
/* =================== */
.p2p{
  margin-left: 40px;
  margin-right: 20px;
  width: 750px;
  height: 400px;
  background:url(../img/property-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.p2p .properties-info{
  margin-top: 280px;
  padding: 12px;
}
.p2p .properties-info .ptext2:not(num){
  color: white;
}
.p2p .properties-info .ptext2 .num{
  text-shadow: 0 0 1px black;
}
.p2p .properties-info .ptext2{
  font-size: 20px;
}
.p2p .properties-info .ptext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
/* ======================== */
.p3p{
  margin-left: 20px;
  width: 720px;
  height: 400px;
  left: 200px;
  background:url(../img/property-6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.p3p .properties-info{
  margin-top: 280px;
  padding: 12px;
}
.p3p .properties-info .ptext2:not(num){
  color: white;
}
.n3n .news-info .ptext2 .num{
  text-shadow: 0 0 1px black;
}
.n3n .news-info .ntext2{
  font-size: 20px;
}
.n3n .news-info .ntext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
  
/* ================= */
.n4n{
  overflow-y: hidden;
  transition-duration: 1s;
  display: none;
  margin-left: 20px;
  width: 0;
  height: 400px;
  background:url(../img/property-8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: moveright;
  animation-duration: .3s;
  animation-iteration-count: 1;
}
.n4n .news-info{
  margin-top: 280px;
  padding: 12px;
}
.n4n .news-info .ntext2:not(num){
  color: white;
}
.n4n .news-info .ntext2 .num{
  text-shadow: 0 0 1px black;
}
.n4n .news-info .ntext2{
  font-size: 20px;
}
.n4n .news-info .ntext3{
  width: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2ECA6A;
  border-radius: 20px;
  padding: 5px 0px 5px 0px;
}
.news-slide{
  display: flex;
  justify-content: center;
}
.news-slide  .active{
  margin-top: 20px;
  margin-right: 5px;
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  background-color:#2ECA6A;
}
.news-slide .ns2{
  margin-top: 20px;
  margin-right: 5px;
  content: "";
  width: 20px;
  height: 10px;
  border-radius: 0;
  border-style: solid;
  border-width: .1px;
  color: green;
  background-color: black;
}
/* Animations */
@keyframes moveright {
  from{
    width: 0;
  }
  to{
    width: 100;
  }
}
@keyframes blink {
  from{
    display: none;
  }
  to{
    display: grid;
  }
}
/* ================== */
  